* {
	box-sizing: border-box;
}

html {
	font-family: 'hk_groteskregular', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
}

.section {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;

	&--grey {
		background-color: $light-grey;
	}
}

.container {
	max-width: 26em;
	margin: 0 auto;
}

.col {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
}

.round-border {
	position: relative;
	width: 5.4em;
	height: 5.4em;
	border-radius: 50%;
	background: #1488cc;
	background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
	background: linear-gradient(to right, #2b32b2, #1488cc);
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		&:after {
			content: '';
			position: absolute;
			background: #833ab4;
			background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
			background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
			top: 0;
			left: 0;
			width: 5.4em;
			height: 5.4em;
			border-radius: 50%;
			z-index: 0;
			cursor: pointer;
			animation: borderAnimate 1s linear infinite;
		}
	}
}

.img {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
	// border: 1px solid lighten($grey, 30%);
}

.icon--green {
	color: #009900;
}

.icon--red {
	color: #d10000;
}
