.btn {
	display: inline-block;
	font-family: 'hk_grotesksemibold', sans-serif;
	text-decoration: none;
	background-color: $white;
	color: $dark-grey;
	padding: 0.7em 1em;
	line-height: 1.2;
	border: none;
	border-radius: 0.2em;
	cursor: pointer;
	transition: all 0.1s;
	outline: none;

	&-primary {
		background-color: $primary;
		color: $white;
	}

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 1;
	}
}
