.btn {
  display: inline-block;
  font-family: 'hk_grotesksemibold', sans-serif;
  text-decoration: none;
  color: $dark-grey;
  padding: 0.7em 1em;
  line-height: 1.2;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.1s;
  outline: none;

  .light &-primary {
    background-color: $primary;
    color: $white;
  }

  .dark &-primary {
    background-color: $secondary;
    color: $dark-grey;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}
