.icon {
	font-size: 16px;
	padding: 0.5em 0;
	margin-right: 0.7em;
	transition: all 0.1s;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&-container {
		border-top: 1px solid $primary;
		margin-top: 20px;
		padding-top: 10px;
	}

	&--green {
		color: $green;
	}
	&--red {
		color: $red;
	}
	&--orange {
		color: $orange;
	}
	&--blue {
		color: $blue;
	}
	&--aqua {
		color: $aqua;
	}
	&--yellow {
		color: $yellow;
	}
	&--linkedin {
		color: $linkedin;
	}
}
