.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	display: none;
	align-items: center;
	justify-content: center;
}

.modal {
	position: relative;
	background-color: $white;
	padding: 2em;
	border-radius: 0.4em;
	min-width: 20em;
	height: auto;

	&__list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;

		&-item {
			list-style: none;
			color: $grey;
			line-height: 1.5;
		}
	}

	&__close {
		position: relative;
		float: right;
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
		border: 2px solid $grey;
		transition: all 0.3s;
		cursor: pointer;
		&-left {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1.5em;
			height: 0.1em;
			background-color: $grey;
			transform: translate(-50%, -50%) rotate(45deg);
			transition: all 0.3s;
		}
		&-right {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1.5em;
			height: 0.1em;
			background-color: $grey;
			transform: translate(-50%, -50%) rotate(135deg);
			transition: all 0.3s;
		}
		&:hover {
			& .modal__close-left {
				width: 1.2em;
			}
			& .modal__close-right {
				width: 1.2em;
			}
		}
	}
}

@media all and (max-width: $tablet) {
	.modal-wrapper {
		position: fixed;
		overflow-y: scroll;
	}
	.modal {
		width: 100vw;
		min-height: 100vh;
		border-radius: 0;
	}
}
