// COLOUR VARIABLES

$white: #ffffff;
$light-grey: #f7f7f7;
$dark-grey: #333333;
$grey: #666666;
$primary: #4a2afc;

$orange: #ff3300;
$red: #d10000;
$green: #009900;
$blue: #00a2ff;
$aqua: #00b38c;
$yellow: #ffae00;

// BREAKPOINTS

$tablet: 767px;
