// COLOUR VARIABLES

$white: #ffffff;
$light-grey: #f7f7f7;
$dark-grey: #222222;
$grey: #666666;
$primary: #4a2afc;
$secondary: #00b7ff;

$orange: #ff3300;
$red: #d10000;
$green: #009900;
$blue: #00a2ff;
$aqua: #00b38c;
$yellow: #ffae00;
$linkedin: #0077b5;

// BREAKPOINTS

$tablet: 767px;
